	@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@100;200;300&display=swap');

	*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	}

	:root{
		--prm-color: rgb(5, 5, 5);
		--clr:white;
		--clr2:#08fdd8;
	}

	body {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(180deg, #373734 0%, #242423 52%, #0D0D0C 100%);
	color: white;
	overflow: hidden scroll;
	font-family: 'Raleway', sans-serif;
	}

	h1{
		font-family: 'Lobster', cursive;
		letter-spacing: 1px;
	}

	.special{
		color: #08fdd8;
	}

		//buTton animation
	nav{
		ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;

	li{
		color: var(--clr2);
		font-size: 15px;
		border:1px solid var(--clr2);
		border-radius: 0.5em;
		width: 10em;
		height: 3em;
		text-transform: uppercase;
		text-align: center;
		line-height: 3em;
		position: relative;
		overflow: hidden;
		letter-spacing: 0.1em;
		z-index: 1;
		margin: 1em;
		transition: 0.5s;

	span{
		position: absolute;
		width: 25%;
		height: 100%;
		background-color: #e84a5f;
		border-radius: 50%;
		transform: translateY(150%);
		left: calc((var(--n) - 1) * 25%);
		transition: 0.5s;
		transition-delay: calc((var(--n) - 1) * 0.1s);
		z-index: -1;
	}
	&:hover
	{
		color: #fff;
		cursor: pointer;
			border: 1px solid #e84a5f;
	}
	&:hover span
	{
		transform: translateY(0) scale(2);
	}
	}
	span:nth-child(1)
	{
		--n: 1;
	}
	span:nth-child(2)
	{
		--n: 2;
	}
	span:nth-child(3)
	{
		--n: 3;
	}
	span:nth-child(4)
	{
		--n: 4;
	}
		}
	}
			//gradient border animation
	.container{
		position: relative;
		width:100%;
		background: linear-gradient(0deg,#000,#262626);
		box-shadow: 1px 5px 15px rgba(0,0,0,1);
		margin: 10px 0;
		
	&:before,&:after{
		content: '';
		position: absolute;
		top: -5px;
		left: -5px;
		width: calc(100% + 10px);
		height: calc(100% + 10px);
		background: linear-gradient(45deg,#fa7e1e,#f3da75,#00ffd5,#fd1d1d,#ff0000,#fa7e1e,#f3da75,#00ffd5,#fd1d1d,#ff0000);
		background-size: 400%;
		z-index: -1;
		animation: animate 20s linear infinite;
	}

	&:after
	{
		filter: blur(20px);
	}



	@keyframes animate {
		0%{ background-position: 0 0;}
		50% { background-position: 300% 0;}
			100%{ background-position: 0 0; }
	}
	}


	.bars{
		width: 50px;
		height: 50px;
		position:fixed;
		top: 10px;
		right: 10px;
		padding: 10px;
		background: var(--prm-color);
		z-index: 1;

		.bar{
			width: 100%;
			height: 5px;
			background-color: var(--clr);
			margin: 3px;
		}

	}

	.menu{
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		background: grey;
		display: none;
		z-index: 3;

		.inner-menu{
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;

			.upper-menu{
				position: relative;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				background: black;
				padding: 50px 0 20px 0;


				#close{
					position: absolute;
					right: 10px;
					top: 10px;
					font-size: 3rem;
					font-weight: bold;
					cursor: pointer;
					&:hover{
						color: red;
					}
				}
				P{
					margin: 10px 0;
					font-size: 1rem;
					color: #a5a5a5;
				}

				.name{
					cursor: pointer;
					
	.g{
		text-shadow: -4px 2px  red,-6px 2px var(--clr2);
	}
					h1{
						font-size: 3rem;
					}
				}
			}

			.lower-menu{
				background: rgb(27, 27, 27);
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				ul{
					width: 100%;
					list-style: none;
					li{
						width: 100%;
						border-bottom: 1px solid #5a5a5a;
						padding: 10px 0;
						margin: 10px 0;

						a{
							text-decoration: none;
							font-size: 1.2rem;
							display: flex;
				justify-content: center;
				align-items: center;
				color: silver;
			
				&:hover{
						color: #08fdd8;
				}
						}
					}
				}
			}
			.socila{
				width: 100%;
				background: rgb(27, 27, 27);
			
				display: flex;
				justify-content: center;
				align-items: center;

				img{
					width: 24px;
					margin: 0 5px;
				}
			}
		}
	}

	.my-path {
	fill:none;
	stroke:var(--clr2);
	stroke-width:6;
	}

	#lineDrawing{
		width: 340px;
		height: 80px;
		margin-left: -50px;
		margin-top: 10px;
	}

	.top{
		position: relative;
		width: 100%;
		// height: 100vh;
		padding-top: 80px;
		padding-bottom: 80px;

		h1{
			font-family: 'Raleway', sans-serif;
		}
	.contact_me{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 60px ;
	}

	.name{
		font-size: 3rem;
		margin-top: 30px;
		padding-left: 40px;
	.g{
		text-shadow: -4px 2px  red,-6px 2px var(--clr2);
		font-family: 'Lobster', cursive;
		letter-spacing: 4px;
		margin-left: 15px;
	}
		.tagline{
			font-size: 1rem;
		padding-left: 60px;
		color: #a5a5a5;
		}
	}

	.name h2{
		font-size: 1.2rem;
	}
	
	.scrollBtn{
		img{
			transform: rotate(-180deg);
			animation: sliding 1s infinite ease-in-out;

			@keyframes sliding{
				from{
					transform:translatey(20px);
				}
				to{
					transform:translatey(0)
				}
			} 
		}
	}

	.bg-anime{
		position: absolute;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;

		.parts{
			width: 10px;
			height: 10px;
			background: white;
			border-radius: 50%;
			margin: 5px;
			animation: fade .6s infinite;
		}
		.p1{
			position: absolute;
	background: red;
	right: 0;
	animation-delay: .1s;
		}
			.p2{
			position: absolute;
	background: teal;
	right: 50%;
	animation-delay: .1s;
		}
			.p3{
			position: absolute;
	background: red;
	bottom: 200px;
	animation-delay: .51s;
		}
			.p4{
			position: absolute;
	background: var(--clr2);
	top: 0;
	animation-delay: .1s;
		}
			.p5{
			position: absolute;
	background: var(--clr);
	right: 30%;
	animation-delay: .321s;
		}
			.p6{
			position: absolute;
	background: teal;
	right: 0;
	bottom:50%;
	animation-delay: .1s;
		}
			.p7{
			position: absolute;
	background: red;
	right:70%;
	top: -50px;
	animation-delay: .189s;
		}
			.p8{
			position: absolute;
	background: teal;
	right:50%;
	bottom: 56%;
	animation-delay: .1s;
		}
			.p9{
			position: absolute;
	background: orange;
	top: 40px;
	right:50%;
	animation-delay: .51s;
		}	
		.p10{
			position: absolute;
	background: red;
	left: 20px;
	animation-delay: .178s;
		}
			.p20{
			position: absolute;
	background: teal;
	left: 20%;
	top: 60%;
	animation-delay: .17s;
		}
			.p19{
			position: absolute;
	background: var(--clr);
	right: 0;
	top: 20%;
	animation-delay: .31s;
		}
		.p11{
			position: absolute;
	background: teal;
	right: 30%;
	top: -10%;
	animation-delay: .1s;
		}
		.p12{
			position: absolute;
	background: var(--clr);
	left: 20%;
	top: 10%;
	animation-delay: .4s;
		}
		.p13{
			position: absolute;
	background: orange;
	bottom: 30%;
	left: 30%;
	animation-delay: .5s;
		}
			.p14{
			position: absolute;
	background: var(--clr2);
	bottom: 30%;
	left: 70%;
	animation-delay: .14ms;
		}
			.p14{
			position: absolute;
	background: var(--clr);
	bottom: 70%;
	left: 30%;
	animation-delay: .19s;
		}
			.p15{
			position: absolute;
	background: red;
	bottom: 40%;
	left: 70%;
	animation-delay: .1s;
		}
			.p16{
			position: absolute;
	background: var(--clr);
	bottom: 30%;
	left: 90%;
	animation-delay: .3s;
		}
		
			.p17{
			position: absolute;
	background: var(--clr);
	top: -20%;
	left: 50%;
	animation-delay: .14s;
		}
		
			.p18{
			position: absolute;
	background: cyan;
	top: -20%;
	left: 20%;
	animation-delay: .1s;
		}
	}

	@keyframes fade {
		from{
			opacity: 1;
		}
		to{
			opacity: 0;
		}
		
	}


	}

	.portfolio{
		margin: 150px 0 80px 0;
		padding: 0 20px;
		h1{
	font-size: 55px;
	color: var(--clr2);
	margin: 30px 0;
		}

		.desc{
		//	width: 100%;
			p{
			margin-bottom: 20px;
			}
			a{
				text-decoration: none;
				color: #08fdd8;
				&:hover{
					color: var(--clr);
				}
			}
		}
		.work{
			display: none;
		}
	}


	.about{
		padding:0 15px ;
		margin: 100px 0;
		h1{
			color: var(--clr2);
			font-size: 3rem;
			margin: 15px 0;
		}

		.me{
			display: none;
		}
	}

	.contact{
		padding:0 10px ;
		h1{
			color:var(--clr2);
			font-size: 3rem;
		}
		p{
			margin: 20px 0;
			//font-size: 1.10rem;
		}
		.contact{
			display: none;
		}
	}

	.socials{
		padding: 10px;
		margin-bottom: 20px;
		text-align: center;
		p{
			margin: 10px;
			font-size: 1.10rem;
		}
		.soc-icons{
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		width: 30px;
		margin: 0 5px;
	}
		}
	}
	
	//animation/loading screen
	.animation{
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		//display: none;
		color: white;
		background: var(--prm-color);
		z-index: 3;

		.load{
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.loading{
			width: 100%;
			.ml5 {
	position: relative;
	font-weight: 300;
	font-size: 4.5em;
	color: var(--clr2);

	.text-wrapper {
			width: 100%;
	position: relative;
	display: inline-block;
	padding-top: 0.1em;
	padding-right: 0.05em;
	padding-bottom: 0.15em;
	line-height: 1em;
		text-align: center;
	}

	.line {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 3px;
	width: 100%;
	background-color: var(--clr2);
	transform-origin: 0.5 0;
	}

	.ampersand {
	font-family: Baskerville, serif;
	font-style: italic;
	font-weight: 400;
	width: 1em;
	margin-right: -0.1em;
	margin-left: -0.1em;
		opacity: 0;
	}

	.letters {
	display: inline-block;
	opacity: 0;
		font-size: 2.8rem;
	}
		}
	}
	}


	@media(min-width:992px){
		main{
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: space-between;
		}
		.left{
			position: fixed;
			top: 0;
			left: 0;
			width: 15%;
			height: 100vh;
			overflow: hidden;
			.bars{
				display: none;
			}
			.menu{
				display: block;
	position: relative;
			}
			
				#close{
				display: none;
				}
		}

		.right{
			width: 85%;
			margin-left: 15%;
		

	.my-path {
	stroke-width:6;
	}
	#lineDrawing{
		height: 120px;
		margin-left: -35px;
		margin-top: 20px;

	}
			.top{
				padding-top: 20px;
			.name{
				font-size: 2.3rem;
			}
			.tagline{
				font-size: 1.5rem;
				padding-left: 100px;
			}
			
	.a{
		padding-top: 70px ;
		padding-left: 150px;
	}

			}
		}
		.portfolio{
			position: relative;
			.desc{
				width: 100%;
				display: flex;
				justify-content: space-around;
				align-items: center;

				p{
					width: 100%;
					font-size: 1.5rem;
				}
			.link{
				display: flex;
				justify-content: center;
				align-items: center;
					width: 100%;
					a{
						width: auto;
						padding: 15px 50px;
					}
				}
			}
			.work{
				display: block;
				position: absolute;
				bottom: -270px;
				right: 20px;
				color: #5a5a5a;
				z-index: -1;
				P{
	font-size: 15rem;
				}
			}
		}
		

	.about{
		position: relative;
		.info{
			.desc{
				p{
					font-size: 1.5rem;
				}
			}
		}
		.me{
			display: block;
				position: absolute;
				bottom: -30px;
				right: 20px;
				color: #5a5a5a;
				z-index: -1;
				P{
	font-size: 15rem;
				}
			}
	}

	.contact{

		position: relative;
		p{
			font-size: 1.5rem;
		}
		.contact{
				display: block;
				position: absolute;
				bottom: -60px;
				right: 20px;
				color: #5a5a5a;
				z-index: -1;
				P{
	font-size: 8rem;
				}
			}
	}
	
	}