	@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@100;200;300&display=swap');

	*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	}

	:root{
		--prm-color: rgb(5, 5, 5);
		--color:white;
		--color2:#08fdd8;
	}

	body {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(180deg, #373734 0%, #242423 52%, #0D0D0C 100%);
	color: white;
	font-family: 'Raleway', sans-serif;
	}

	
	h1,h3{
		font-family: 'Lobster', cursive;
		letter-spacing: 1px;
	}

	h3{
        color: var(--color2);
	}

		.g{
		text-shadow: -4px 2px  red,-6px 2px var(--color2);
	}

	// CONTACT-ME-BUTTON ANIME
	nav{
		ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;

	li{
		color: var(--clr2);
		border:1px solid var(--clr2);
		border-radius: 0.5em;
		width: 10em;
		height: 3em;
		text-transform: uppercase;
		text-align: center;
		line-height: 3em;
		position: relative;
		overflow: hidden;
		letter-spacing: 0.1em;
		z-index: 1;
		margin: 1em;
		transition: 0.5s;

	span{
		position: absolute;
		width: 25%;
		height: 100%;
		background-color: #e84a5f;
		border-radius: 50%;
		transform: translateY(150%);
		left: calc((var(--n) - 1) * 25%);
		transition: 0.5s;
		transition-delay: calc((var(--n) - 1) * 0.1s);
		z-index: -1;
	}
	&:hover
	{
		color: #fff;
		cursor: pointer;
		border: 1px solid #e84a5f;
	}
	&:hover span
	{
		transform: translateY(0) scale(2);
	}
	}
	span:nth-child(1)
	{
		--n: 1;
	}
	span:nth-child(2)
	{
		--n: 2;
	}
	span:nth-child(3)
	{
		--n: 3;
	}
	span:nth-child(4)
	{
		--n: 4;
	}
		}
	}

	
	.scrollBtn{
		img{
			transform: rotate(-180deg);
			animation: sliding 1s infinite ease-in-out;

			@keyframes sliding{
				from{
					transform:translatey(20px);
				}
				to{
					transform:translatey(0)
				}
			} 
		}
	}

	.bg-anime{
		position: absolute;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;

		.parts{
			width: 10px;
			height: 10px;
			background: white;
			border-radius: 50%;
			margin: 5px;
			animation: fade .6s infinite;
		}
		.p1{
			position: absolute;
	background: red;
	right: 0;
	animation-delay: .1s;
		}
			.p2{
			position: absolute;
	background: teal;
	right: 50%;
	animation-delay: .1s;
		}
			.p3{
			position: absolute;
	background: red;
	bottom: 200px;
	animation-delay: .51s;
		}
			.p4{
			position: absolute;
	background: var(--clr2);
	top: 0;
	animation-delay: .1s;
		}
			.p5{
			position: absolute;
	background: var(--clr);
	right: 30%;
	animation-delay: .321s;
		}
			.p6{
			position: absolute;
	background: teal;
	right: 0;
	bottom:50%;
	animation-delay: .1s;
		}
			.p7{
			position: absolute;
	background: red;
	right:70%;
	top: -50px;
	animation-delay: .189s;
		}
			.p8{
			position: absolute;
	background: teal;
	right:50%;
	bottom: 56%;
	animation-delay: .1s;
		}
			.p9{
			position: absolute;
	background: orange;
	top: 40px;
	right:50%;
	animation-delay: .51s;
		}	
		.p10{
			position: absolute;
	background: red;
	left: 20px;
	animation-delay: .178s;
		}
			.p20{
			position: absolute;
	background: teal;
	left: 20%;
	top: 60%;
	animation-delay: .17s;
		}
			.p19{
			position: absolute;
	background: var(--clr);
	right: 0;
	top: 20%;
	animation-delay: .31s;
		}
		.p11{
			position: absolute;
	background: teal;
	right: 30%;
	top: -10%;
	animation-delay: .1s;
		}
		.p12{
			position: absolute;
	background: var(--clr);
	left: 20%;
	top: 10%;
	animation-delay: .4s;
		}
		.p13{
			position: absolute;
	background: orange;
	bottom: 30%;
	left: 30%;
	animation-delay: .5s;
		}
			.p14{
			position: absolute;
	background: var(--clr2);
	bottom: 30%;
	left: 70%;
	animation-delay: .14ms;
		}
			.p14{
			position: absolute;
	background: var(--clr);
	bottom: 70%;
	left: 30%;
	animation-delay: .19s;
		}
			.p15{
			position: absolute;
	background: red;
	bottom: 40%;
	left: 70%;
	animation-delay: .1s;
		}
			.p16{
			position: absolute;
	background: var(--clr);
	bottom: 30%;
	left: 90%;
	animation-delay: .3s;
		}
		
			.p17{
			position: absolute;
	background: var(--clr);
	top: -20%;
	left: 50%;
	animation-delay: .14s;
		}
		
			.p18{
			position: absolute;
	background: cyan;
	top: -20%;
	left: 20%;
	animation-delay: .1s;
		}
	}

	@keyframes fade {
		from{
			opacity: 1;
		}
		to{
			opacity: 0;
		}
		
	}

	.special{
		color: #08fdd8;
	}

	//gradient border animation
	.container{
		position: relative;
		width:100%;
		background: linear-gradient(0deg,#000,#262626);
		box-shadow: 1px 5px 15px rgba(0,0,0,1);
		margin: 10px 0;
		
	&:before,&:after{
		content: '';
		position: absolute;
		top: -5px;
		left: -5px;
		width: calc(100% + 10px);
		height: calc(100% + 10px);
		background: linear-gradient(45deg,#fa7e1e,#f3da75,#00ffd5,#fd1d1d,#ff0000,#fa7e1e,#f3da75,#00ffd5,#fd1d1d,#ff0000);
		background-size: 400%;
		z-index: -1;
		animation: animate 20s linear infinite;
	}

	&:after
	{
		filter: blur(20px);
	}



	@keyframes animate {
		0%{ background-position: 0 0;}
		50% { background-position: 300% 0;}
			100%{ background-position: 0 0; }
	}
	}


	
/* DEMO-SPECIFIC STYLES */
.typewriter h2 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.skill{
	box-shadow: inset 0 12px 2px 3px  gray;
}

 .project_temp{
	border-radius: 10px;
	border: 2px solid white;
	overflow: hidden;
	box-shadow: 0 0 8px 1px  teal; 
 }